body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .registration-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .existing-account {
    text-align: center;
    margin-top: 20px;
  }
  
  .existing-account a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .existing-account a:hover {
    text-decoration: underline;
  }




  .login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .no-account {
    text-align: center;
    margin-top: 20px;
  }
  
  .no-account a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .no-account a:hover {
    text-decoration: underline;
  }
  






  .profile-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-info p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .profile-info strong {
    font-weight: bold;
  }
  
  .profile-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .logout {
    background-color: #f44336;
  }
  
  .logout:hover {
    background-color: #e53935;
  }